.lajmimadh{
	border: 1px solid black;
	border-width: 2px; 
	background-color: lightgrey;
}
legend
{
	text-align: center;
	font-family: Arial sans-serif;
	color:blue;
	font-size: 2em;	
}
.menuja
{
	background-color: red;
	border: 1px black solid;
}
ul#main-menu li
{
	text-decoration: none;
	list-style: none;
	display: inline;
	margin-left: 5em;
	}
a{
	text-decoration: none;
	color: black;
}
a:hover
{
	color: blue;
}
footer
{
	background-color: black;
}
.middle
{
	border:3px red solid;
}
.copyright
{
	color: white;
}
